.header{
    background: url('../../assets/img/ILLU.png') no-repeat;
    background-size:75%;
    background-position: left 140% top -150px;
    padding-top: 65px;
    max-width: 1290px;
    width: 85vw;

    &__logo{
      width: 150px;
    }

    &__title{
      font-family: 'Futura PT Bold Oblique';
      text-transform: uppercase;
      letter-spacing: 12px;
      font-size: clamp(10vw, 18vw, 245px);
      color: white;
      z-index: 2;
      transform: rotate(-9deg);
      margin-left: -25px;
      margin-top: -22px;
      background-color: transparent;
    }

    &__subtitle{
      color: #FD7FC7;
      font-size: 40px;
      font-family: 'Futura PT Bold Oblique';
      text-transform: uppercase;
      margin: 75px 0 25px 0px;
      line-height: 50px;
      background-color: transparent;
      max-width: 450px;
    }



    &__text{
      color: white;
      font-size: 30px;
      font-family: 'Futura PT Medium';
      line-height: 28px;
      padding-bottom: 105px;
    }

    .text{
      &__br{
        display: block;
      }
    }
      
}

@media screen and (max-width: 1024px){
  .header{
    width: 90vw;
    padding-top: 10px;
    background-size:100%;
    background-position: left 26vw top -2vw;

    &__logo{
      width: 75px;
    }

    &__title{
      font-size: clamp(64px, 20vw, 245px);
      margin-left: -10px;
      margin-top: 105px;
      letter-spacing: 2px;
      margin-bottom: 105px;
      
    }

    &__subtitle{
      font-size: 28px;
      max-width: 310px;
      line-height: 35px;
      margin: 75px 0 20px 0px;
    }

    &__text{
      font-size: 20px;
      padding-bottom: 40px;
      line-height: 25px;
      max-width: 310px;
    }

    .text{
      &__br{
        display: none;
      }
    }
  }
}